div {
    border: 2px solid yellow;
}
#container, #container_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    width: 800px;
    box-sizing: border-box;
    border-width: 0px;

}
div div {
    width: 400px;
    height: 50px;
    border-width: 4px;
    box-sizing: border-box;
}
.container1 {
    background-color: aqua;
    order: 0;
}
.container2 {
    background-color: blue;
    order: 1;
}
.container3 {
    background-color: blueviolet;
    order: 3;
    width: 500px;
    flex-shrink: 2;
    align-self: flex-end;
}

@media ( min-width: 850px ) {
    #container, #container_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    box-sizing: border-box;
    gap: 10px;

    }
    .container3 {
    width: 400px;
    }
}