@charset "utf-8";


.content {
    background-color: #FDFEFD;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#mainmenu {
	width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    z-index: 2;
    position: fixed;
    top: 0vh;
}

#mainmenu2 {
	width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    z-index: 3;
    position: fixed;
    top: 0vh;
}

#home_main {
    text-align: center;
    height: 95%;
}

#logo {
    width: 100%;
}

#profile_main img {
    width: 100%;
}

#mainmenu_button1, #mainmenu_button2, #mainmenu_button3, #profilebutton2, #profilebutton3 {
	background-color: #526A9C;
}

#profilebutton1{
    background-color: #2A498A;
}

#mainmenu2 li {
    font-size: 1.2rem;
    line-height: 200%;
}

#pic_main img {
	width: 100%;
}

#movie_main div{
    padding: 0;
    margin: 0;
    text-align: center;
}

#movie_main iframe {
    width: 100vw;
    height: 56.25vw;
}

#accordion1 a:active {
    color: #154682;
    font-size: 1rem;
	line-height: 200%;	
}
#accordion1 a:hover {
    color: #4E77A8;
    font-size: 1rem;
	line-height: 200%;	
}
#accordion1 a:link {
    color: #4E77A8;
    font-size: 1rem;
	line-height: 200%;
}
#accordion1 a:visited {
    color: #4E77A8;
    font-size: 1rem;
	line-height: 200%;	
}

.card-header {

}

